/*
 * @file - bpoc_contest.css
 */

.node-form input #edit-title {
  height: 20px;
  font-size: 15px;
}
.ui-dialog {
  background: #fff;
  border: 5px solid #6E8694;
  width:300px;
  height: 200px;
  padding: 15px;
}

.node-contest h1.title {
  width: 100%;
  color: #fff;
  background: #6E8694;
  font-size: 20px;
  font-weight: normal;
  text-transform: lowercase;
}

.node .contest-rules-link,
.node .contest-terms-link,
.node .contest-submit-link {
  padding: 4px 8px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.ui-dialog-container a.ui-dialog-titlebar-close {
  float: right;
}

.ui-dialog-container #dialog-main {
  clear: both;
}

.ui-dialog-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.ui-dialog {
  overflow-y: auto !important;
}

.view-bpoc-photo-contest.view-display-id-default .views-row {
  float: left;
  width: 180px;
  padding-bottom: 15px;
}

.view-bpoc-photo-contest.view-display-id-default ul.pager {
  padding: 10px 0;
}

.contest-links {
  clear: both;
  padding-top: 10px;
}

.view-bpoc-photo-contest.view-display-id-default {
  margin-top: 25px;
  margin-bottom: 20px;
}

.view-bpoc-photo-contest.view-display-id-default .views-field-title {
  text-align: right;
  padding-right: 8px;
}

.view-bpoc-photo-contest.view-display-id-default .views-field-nothing {
  text-align: right;
  padding-right: 8px;
}

.view-bpoc-photo-contest.view-display-id-default .views-view-grid td {
  width: 186px;
  padding: 3px;
  border: 1px solid #ccc;
  vertical-align: top;
}


